<ion-content>
  <div class="bg-image no-scroll" style="height: 100vh;">
    <img src="assets/img/logo-appstream.png" alt="logo" class="logo">


    <ion-list class="list" inset="true">
      <ion-item class="label">
        <ion-label color="light" style="font-size: 14px;" position="floating">Username</ion-label>
        <ion-input type="text" color="light"></ion-input>
      </ion-item>
      <ion-item class="label">
        <ion-label style="font-size: 14px;" color="light" position="floating">Password</ion-label>
        <ion-input type="text" color="light"></ion-input>
      </ion-item>
    </ion-list>

    <p class="text" style="font-family: open-sans; font-size: 14px; color: #ebebeb;">Forgot Password?</p>

    <div class="login-btn" style="text-align: center;">
      <ion-button routerLink="/tabs" style="width: 58%"  color="success" shape='round' > Login</ion-button>
    </div>
    <div class="signup-btn">
      <ion-button style="width: 70%" color="light" shape='round' fill='outline'> Sign Up</ion-button>
    </div>

    <img src="../../assets/img/facebook.png" alt="facebook-logo" class="logo-login">
    <img src="../../assets/img/twitter.png" alt="twitter-logo"  class="logo-login">

  </div>
</ion-content>