<ion-content fullscreen scroll-y="false">
  <ion-slides pager="true">
    <ion-slide style="background-color: #41c6f1; height: 100vh;">
      <div >
        <fa-icon icon="video" style="color: #ebebeb" size="6x"></fa-icon>
        <h1 style="color: #ebebeb" >Videos on demand</h1>
        <p style="color: #ebebeb; font-size:16px; font-family: open-sans;">Watch video in your <b>own</b> time <i>anywhere !!!</i></p>
      </div>
    </ion-slide>
    <ion-slide style="background-color: #f06261; height: 100vh;">
      <div >
        <fa-icon icon="bath" style="color: #ebebeb" size="6x"></fa-icon>
        <h1 style="color: #ebebeb" >In your own Space</h1>
        <p style="color: #ebebeb; font-size:16px; font-family: open-sans;">Catch up in the <b>comfort</b> of your <i>home.</i></p>
      </div>
    </ion-slide>
    <ion-slide style="background-color: #68c4bb; height: 100vh;">
      <div >
        <fa-icon icon="headphones" style="color: #ebebeb" size="6x"></fa-icon>
        <h1 style="color: #ebebeb" >Life Audio Streams</h1>
        <p style="color: #ebebeb; font-size:16px; font-family: open-sans;">Listen to live audio <b>streams</b> on your <i>device.</i></p>
      </div>
    </ion-slide>
    <ion-slide class="bg-image" style=" height: 100vh;">
      <div  style="width: 100%">
        <h1 style="color: #ebebeb" >Welcome to AppStreams</h1>
        <h4 style="color: #ebebeb" >Your Streaming Partner.</h4>
        <p style="color: #ebebeb; font-size:16px; font-family: open-sans;">Now that you have seen what it is all about <br> how about we get started.</p>
        
      </div>

      <div class="start-btn" style="display: block;">
        <ion-button routerLink="/login" color="light" shape='round' fill='outline'> Lets's Go</ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
