<ion-tabs>

  <ion-tab-bar slot="bottom" color="medium">
    <ion-tab-button tab="video">
      <ion-icon name="videocam"></ion-icon>
      <ion-label>Video Stream</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="music">
      <ion-icon name="microphone"></ion-icon>
      <ion-label>Your Music</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news">
      <ion-icon name="paper"></ion-icon>
      <ion-label>News Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="people"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
