<ion-header >
  <ion-toolbar color="secondary">
    <ion-title>
      <p style="font-family: open-sans; font-size: 18px;">Playlist</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <fa-icon icon='graduation-cap' ></fa-icon> -->
  <h3 >Genre and Moods</h3>
  <ion-button class='right' size="small" fill="clear" ><p style="font-family: open-sans; font-size: 15px;">See all</p> </ion-button>

  <ion-row>
    <ion-col>
      <img src="../../assets/img/audio-1.jpg" alt="audio-1">
      <h4 class="track">Trending</h4>
      <p class="tracks">52 Tracks</p>
    </ion-col>
    <ion-col>
      <img src="../../assets/img/audio-2.jpg" alt="audio-2">
      <h4 class="track">Workout</h4>
      <p class="tracks">112 Tracks</p>
    </ion-col>
  </ion-row>

  <hr>

  <div class="box">
    <img src="../../assets/img/audio-3.jpg" alt="audio-3">
    <div class="player">
      <h4>Alternative</h4>
      <p class="tracks">127 Tracks</p>
    </div>
  </div>

  <hr>

  <ion-row>
    <ion-col>
      <img src="../../assets/img/audio-4.jpg" alt="audio-1">
      <h4 class="track">Travels</h4>
      <p class="tracks">45 Tracks</p>
    </ion-col>
    <ion-col>
      <img src="../../assets/img/audio-5.jpg" alt="audio-2">
      <h4 class="track">Classical</h4>
      <p class="tracks">82 Tracks</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <img src="../../assets/img/audio-6.jpg" alt="audio-6">
      <h4 class="track">Country</h4>
      <p class="tracks">69 Tracks</p>
    </ion-col>
    <ion-col>
      <img src="../../assets/img/audio-7.jpg" alt="audio-7">
      <h4 class="track">Hop-hop</h4>
      <p class="tracks">217 Tracks</p>
    </ion-col>
  </ion-row>

  <hr>

  <div class="box">
    <img src="../../assets/img/audio-8.jpg" alt="audio-8">
    <div class="player">
      <h4>Romance</h4>
      <p class="tracks">127 Tracks</p>
    </div>
  </div>

  <hr>

  <div class="box">
    <img class="play" src="../../assets/img/play.png" alt="p/ay">
    <img class="play-menu" src="../../assets/img/dots.png" alt="">
    <div class="playing">
      <p class="title">Keep your head up</p>
      <p class="sub-title">Ben Taylors - Every kingdom</p>
    </div>
  </div>

</ion-content>
